.header {
    font-weight: 900;
    color: $font2;
    height: 40px;
    position: relative;

    // header text effect, based on https://codepen.io/slstudios/pen/aOQWJK
    &--slogan {
        font-size: $headerSize;
        background-image: -webkit-linear-gradient($gradient1 50%, $gradient2 80%);
        background-repeat: repeat;
        background-position: 0 0;
        background-size: 100% 50px;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-animation: stripes 2s linear infinite;
        animation: stripes 2s linear infinite;
        position: relative;
        display: block;
        margin-bottom: 20px;
        white-space: nowrap;
        text-align: center;
        text-transform: uppercase;
    }

}

@-webkit-keyframes stripes {
    100% {background-position: 0 -50px;}
}
@keyframes stripes {
    100% {background-position: 0 -50px;}
}


@media (max-width:668px) {
    .header--slogan {
        font-size: 40px;
    }
}