.iss-params {
    color: lightsteelblue;
    text-align: center;
    padding-top: 30px;

    &--distance {
        font-weight: 600;
        span {
            color: yellow;
        }
    }

    &--speed {
        font-weight: 400;
        font-size: 20px;
    }

    &--note {
        font-size: 10px;
    }

}

@media (max-width:668px) {
    .iss-params {
        &--distance {
            font-size: 20px;
        }
    
        &--speed {
            font-size: 15px;
        }
    }
}