/* colors */
$background: #090e27;
$gradient1: steelblue;
$gradient2: white;
$font1: lightsteelblue;
$font2: white;
$loading: white;

/* font sizes */
$headerSize: 60px;
$headerSizeMobile: 30px;
$footerSize: 12px;

/* font styles */
$themeFont: "Montserrat";