/* colors */
$background: #090e27;
$gradient1: steelblue;
$gradient2: white;
$font1: lightsteelblue;
$font2: white;
$loading: white;

/* font sizes */
$headerSize: 60px;
$sectionHeaderFontSize: 14px;
$pageHeaderFontSize: 14px;
$largeLinkFontSize: 18px;
$smallLinkFontSize: 16px;

/* font styles */
$themeFont: "Montserrat";